
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Body - General Layout Structure	
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
   
.main_title {
font-family: 'Quicksand', sans-serif;
font-size: 35px;
color: #59a3c5;
letter-spacing: -2px;
} 



body {

	margin: 0px;
	padding:10px;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, geneva, sans-serif;
	font-size: .7em;
	color: #000000;
	text-align: center;

}

img {
max-width: 100%;

}


#subnav {
	font-family: Verdana, Arial, geneva, sans-serif;
	font-size: 11px;
	text-align: left;
	color: #000000;
	line-height: -2;
}

.sub {
	margin: 0px;
	padding:0px;
	font-family: Verdana, Arial, geneva, sans-serif;
	font-size: 1em;
	color: #000000;
}

	#header {
	      position:fixed;
	     z-index:3;
             /*Making sure it sticks to left of window in IE7*/
              left:0;
             /*Change to reflect height of your header.
             Remember to accomadate for padding!*/
             height:75px;
             background-color: #FFFFFF;
	}
	
	
		#content {
		margin-top:100px;;
		/*float:left;*/
                /*Change to reflect width of your content.
                Remember to accomadate for padding!*/
                width:50%;
	}


	.wrap {
	float:left;
		position:absolute;
		bottom:0;
		margin:0 auto;
               /*replace 900px with your width*/
		width:100%;
		height: 120px;
		background-color: #15587b;
		position: fixed;
		left: 0;
		z-index: 3;
		padding: 10px 14px 0px; 14px;
		opacity: 0.918;
		border-top-style: solid; 
		border-width:thin; 
		border-color: #cccccc;
		line-height: -.5;
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;

}
	}
	
.wrap_header {

		position:relative;
		/*margin:0 auto;*/
               /*replace 900px with your width*/
		width:100%;
		background-color: #ffffff;
		font-size: 1em;
		color: #cccccc
	}

	#header, #footer {
		width:50%;
		float:left;
	}
	
	#footer {
		position:fixed;
		bottom:0;
		z-index:3;
	}
	
	
	


		
hr {
  border: 0;
  width: 100%;
  color: #ccc;
background-color: #ccc;
height: 1px;
}




/*.footer_link A:{font-size: 11px;}
.footer_link A:link {color: #ffffff; font-weight: regular; text-decoration: none;}
.footer_link A:active {color:#ffffff; font-weight: regular; text-decoration: none;}
.footer_link A:visited {color: #ffffff; font-weight: regular; text-decoration: none;}
.footer_link A:hover {color: #ffffff; font-weight: regular; text-decoration: underline; }


A {font-size: 11px;}
A:link {color: #006699; font-weight: regular; text-decoration: none;}
A:active {color:#006699; font-weight: regular; text-decoration: none;}
A:visited {color: #006699; font-weight: regular; text-decoration: none;}
A:hover {color: #006699; font-weight: regular; text-decoration: underline; } */

A.link_class_2. {font-size: 10px;}
A.link_class_2:link  {color: #ffffff; font-weight: regular; text-decoration: none;}
A.link_class_2:active  {color:#ffffff; font-weight: regular; text-decoration: none;}
A.link_class_2:visited  {color: #ffffff; font-weight: regular; text-decoration: none;}
A.link_class_2:hover  {color: #ffffff; font-weight: regular; text-decoration: underline; }

#pRole
{
color: #7b9aaa; 
font-size: .9em;
}

#pRole {font-size: 10px;}
#pRole a:link  {color: #7b9aaa; font-weight: regular; text-decoration: none;}
#pRole a:active  {color:#7b9aaa; font-weight: regular; text-decoration: none;}
#pRole a:visited  {color: #7b9aaa; font-weight: regular; text-decoration: none;}
#pRole a hover  {color: #7b9aaa; font-weight: regular; text-decoration: underline; }



#nav {
width:600;
	font: 12px/30px Helvetica, sans-serif;
	text-align: center;

	float:none;
	margin-left: auto;
	margin-right: auto;
	padding:10px;
	text-align:center;
	max-width:100%;
}
 
#nav a {
	color: #006699;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
}
 
#nav a:hover {
	text-decoration: underline;

}



#navup {
font-size: 1em;
color: #ffffff;
	font: 12px Helvetica, sans-serif;
	text-align: center;
}
 
#navup a {
font-size: 1em;
color: #ffffff;
text-align: left;
-webkit-transition: all 0.5s ease;
}
 
#navup a:hover {
color: #ffffff;
font-size: 1em;
	text-align: left;
}




#navtop {
	text-align: center;
	color: #F1560A;
}
 
#navtop a {
	float: center;
	-webkit-transition: all 0.5s ease;
	color: #F1560A;
}
 
#navtop a:hover {
	text-decoration: underline;
		color: #F1560A;
}


#navfooter {
	color: #fff;
	text-align: center;
}
 
 
#navfooter a {
	color: #fff;
	float: center;
	-webkit-transition: all 0.5s ease;
}
 
#navfooter a:hover {
	text-decoration: underline;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	CONTAINER ELEMENTS
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#fHeader
{
	float:none;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	width:100%;
}

.nav_off
{
	margin: 0px;
	padding:0px;
	font-family: Verdana, Arial, geneva, sans-serif;
	font-size: 1em;
	color: #000000;
}

.nav_off_footer
{
	margin: 0px;
	padding:0px;
	font-family: Verdana, Arial, geneva, sans-serif;
	font-size: 1em;
	color: #4ea7d6;
}


#fFooter
{
	float:none;
	margin-left: auto;
	margin-right: auto;
	float:left;
	width:100%;

}


#wrapper
{
	float:none;
	margin-left: auto;
	margin-right: auto;
	max-width:100%;
	width:600px;
}

	
	

.pContainer {
	margin: 0px 0px 0px 0px;
	height:auto;
	padding: 1em;
	background-color: #ffffff;
	float: right;
	vertical-align:top;
	text-align: left;
	font-family: Verdana, Arial, geneva, sans-serif;
	font-size: .7.1em;
	voice-family: "\"}\""; 
	voice-family: inherit;
	
	
}

.disclaimer {
	font-family: Verdana, Arial, geneva, sans-serif;
	font-size: 11px;
	color: #999;

}


.ptopnavnav {
	margin: 0px 0px 0px 0px;
	background-color: #ffffff;
	vertical-align:top;
	text-align: left;
	font-family: Verdana, Arial, geneva, sans-serif;
	font-size: .9em;
	width: 100%;
}


.pfooter {
	color: #666666;
	font-family: Verdana, Arial, geneva, sans-serif;
	font-size: .9em;
	voice-family: "\"}\""; 
	voice-family: inherit;
}

#pback_top {
	color: #006699;
	font-family: Verdana, Arial, geneva, sans-serif;
	font-size: 11px;
}

.pBox {
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PROJECT ELEMENTS	
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.pHeader {
	margin: 0px;
	padding: 0px;
	width: 550px;
}

.pDate {
	margin: 0px;
	padding: 30px 0px 0px 0px;
	float: right;
	color: #999999;
	text-align: right;
}

.pImage {

	margin: 0px;
	padding: 10px;
	background-color: #d0d0d0;
}

.pContent {
	margin: 0px;
	padding: 8px;
	background-color: #D0D0D0;
	color:
	/* box model hack */
	width: auto;
	voice-family: "\"}\""; 
	voice-family: inherit;
}

.pText {
	margin: 0px;
	padding: 0px;
	text-align: left;
	color: #000000;
	/* box model hack */
	voice-family: "\"}\""; 
	voice-family: inherit;
	width: auto;
}

.pIcon {
	margin: 10px 0px 0px 0px;
	padding: 0px;
	float: left;
	width: 0px;
}

/*.pRole {
font-size: 10px;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	color: #7b9aaa;	
	}*/
	
	
	.pVideo {
	margin: 0px;
	padding: 10px;
	background-color: #d0d0d0;
}

	
.description:link  {

color: #F1560A; 
font-weight: regular; 
text-decoration: none;

}

.description:active  {

color:#F1560A; 
font-weight: regular; 
text-decoration: none;

}

.description:visited  {

color: #F1560A; 
font-weight: regular; 
text-decoration: none;
}

.description:hover  {
color: #F1560A; 
font-weight: regular; 
text-decoration: underline;
	
	}

.pLinks {
	margin: 10px 0px 0px 0px;
	padding: 0px;
	float: right;
	color: #666666;
	/* box model hack */
	width: 180px;
	voice-family: "\"}\""; 
	voice-family: inherit;
	width: 170px;
}

.dotSpacer {color: #D0D0D0}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	BOLDED NON-LINKED ELEMENTS
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
 
.pTitle {
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}


form {font:1em/1 Verdana,Geneva,Kalimati,sans-serif; color:#333;}
fieldset {border:1px solid #999;}
fieldset fieldset {border:none;}
fieldset fieldset legend {font:bold 1em/1 Verdana,Geneva,Kalimati,sans-serif; color:#000;}
legend {font:1.5em/1 "Trebuchet MS",Helvetica,Jamrul,sans-serif; color:#000;}
.textfield input, .file input, .dropdown select, .textarea textarea, div input.innertextfield {font:1em/1 Verdana,Geneva,Kalimati,sans-serif; color:#000; border:1px solid #999; background:#ececec;}
.textfield input:hover, .file input:hover, .dropdown select:hover, .textarea textarea:hover, div input.innertextfield:hover {border-color:orange;}
.textfield input:focus, .file input:focus, .dropdown select:focus, .textarea textarea:focus, div input.innertextfield:hover {border-color:#333;}
.textfield input:active, .file input:active, .dropdown select:active, .textarea textarea:active, div input.innertextfield:active {border-color:#333;}
.textfield input:focus:hover, .file input:focus:hover, .dropdown select:focus:hover, .textarea textarea:focus:hover, div input.innertextfield:focus:hover {border-color:orange;}
.checkbox input, .radio input {border:none; background:transparent;}
button {font:1.2em/1 Verdana,Geneva,Kalimati,sans-serif; border:1px solid #666; background:#666; color:#fff;}
button:hover {border-color:#000; color:orange;}
optgroup {font:bold 1em/1 Verdana,Geneva,Kalimati,sans-serif;}
option {font:1em/1 Verdana,Geneva,Kalimati,sans-serif;}


/* FORM: LAYOUT */
form {}
fieldset {margin-bottom:3em; padding:10px;}
fieldset fieldset {padding:0;}
legend {margin-bottom:1em;}
.textfield, .textarea, .file, .dropdown, .radio, .checkbox, .buttons, fieldset fieldset {margin-bottom:1em;}
.textfield input, .file input, .dropdown select, .textarea textarea, input.innertextfield {padding:2px 5px;}
.textfield input, .file input, .dropdown select, .textarea textarea {width:100px;}
textarea {height:6em;}
.textfield input, .file input, .dropdown select, .textarea textarea {display:block; margin:0.1em 0 0 0;}
.checkbox input, .radio input {margin-right:5px;}
div input.innertextfield {display:inline; margin-right:0;}
.buttons {}
button {padding:4px;}
optgroup {}
option {padding:1px 3px;}

#logo-link
{
  width:146px;
  height:22px;
  text-decoration:none;
  display:block;
  background-image:url(http://www.nicholasdangelo.com/wp-content/themes/wpfolio/images/connect_146.png);
  background-position:0px 0px;
}
#logo-link:hover,#logo-link:active  { background-position:0px 46px; };


{


{



.pContainer_2 {
	margin: 0px 0px 0px 0px;
	max-width: 100%,
	padding: 10px;
	background-color: #ffffff;
	float: right;
	vertical-align:top;
	text-align: left;
	font-size: 11px;
	voice-family: "\"}\""; 
	voice-family: inherit;
	}
	
	.pBox_2 {
	max-width: 150%
	margin: 10px;
	padding: 10px;
	background-color: #D0D0D0;
}


#navup a:hover {
color: #ffffff;
font-size: .9em;
	text-align: left;
}









